@page "/"
@using Azure.AI.OpenAI;
@using Azure;
@using Miaocrosoft.GPT.Data;
@inject OpenAIClient client;
@inject Miaocrosoft.GPT.Data.ChatHistoryStorage chatHistoryStorage;
@inject NavigationManager Navigation;

<PageTitle>@Current?.FirstOrDefault()?.Content</PageTitle>

<h1>Hello my private ChatGPT</h1>

<table>
    <tbody>
        @if (Current != null)
        {

            @foreach (var item in Current)
            {
                <tr>
                    <td class="align-top">@item.Role:</td>
                    <td>@((MarkupString)item.Content?.Replace(Environment.NewLine, "<br/>"))</td>
                </tr>
            }
        }
        @if (ChatMessageStreaming.Any())
        {
            <tr>
                <td class="align-top">@ChatMessageStreaming.FirstOrDefault()?.Role:</td>
                <td>
                    @foreach (var item in ChatMessageStreaming)
                    {
                        @((MarkupString)item.Content?.Replace(Environment.NewLine, "<br/>"))
                    }
                </td>
            </tr>
        }
        @if (Loading)
        {
            <tr>
                <td colspan="2">Loading...</td>
            </tr>
        }
    </tbody>
</table>
<form class="input-group input-group-lg navbar-fixed-bottom" @onsubmit="Submit">
    <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Here to chat with GPT"
        aria-describedby="inputGroup-sizing-lg" @bind="ChatMessageInput">
</form>
@code {
    protected List<ChatMessageDTO> Current { get; set; }
    private List<ChatMessage> ChatMessageStreaming = new List<ChatMessage>();
    private bool Loading = false;
    public string ChatMessageInput { get; set; } = string.Empty;
    bool newChat = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Navigation.LocationChanged += HandleLocationChanged;
            HandleLocationChanged(null, null);
        }
    }

    private async void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        await chatHistoryStorage.LoadHistory();
        Current = await chatHistoryStorage.GetCurrent();
        if (Current == null)
        {
            newChat = true;
            Current = new List<ChatMessageDTO>();
        }
        else
        {
            newChat = false;
        }
        StateHasChanged();
    }

    private async Task GetChatCompletions()
    {
        var chatCompletionsOptions = new ChatCompletionsOptions();
        Current.ForEach(m =>
        {
            chatCompletionsOptions.Messages.Add(new ChatMessage(ChatRole.User, m.Content));
        });
        Response<StreamingChatCompletions> response;
        try
        {
            CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();
            Loading = true;
            response = await client.GetChatCompletionsStreamingAsync(deploymentOrModelName:
            "gpt-3.5-turbo", chatCompletionsOptions);
            using StreamingChatCompletions streamingChatCompletions = response.Value;
            await foreach (StreamingChatChoice choice in streamingChatCompletions.GetChoicesStreaming())
            {
                await foreach (ChatMessage message in choice.GetMessageStreaming())
                {
                    Console.Write(message.Content);
                    await Task.Delay(1);
                    ChatMessageStreaming.Add(message);
                    StateHasChanged();
                }

                if (ChatMessageStreaming.Any())
                {
                    Current.Add(new ChatMessageDTO
                        {
                            Role = ChatMessageStreaming.First().Role.Label,
                            Content = string.Join(string.Empty, ChatMessageStreaming.Select(m => m.Content))
                        });
                    ChatMessageStreaming.Clear();
                    StateHasChanged();
                }
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            Current.Add(new ChatMessageDTO { Content = e.Message });
        }
        finally
        {
            Loading = false;
            StateHasChanged();
        }
    }

    public async Task Submit()
    {
        if (string.IsNullOrEmpty(ChatMessageInput))
        {
            return;
        }

        Current.Add(new ChatMessageDTO { Role = ChatRole.User.Label, Content = ChatMessageInput });
        if (newChat)
        {
            await chatHistoryStorage.AddNew(Current);
            newChat = false;
        }
        ChatMessageInput = string.Empty;
        await GetChatCompletions();
        await chatHistoryStorage.SaveChangeOnCurrentAsync();
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= HandleLocationChanged;
    }
}
