@inherits LayoutComponentBase
@inject IJSRuntime JS

<PageTitle>Miaocrosoft.GPT</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (ReadyToInstall)
            {
                <a @onclick="InstallApp" target="_blank">安装到桌面</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    bool ReadyToInstall = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        ReadyToInstall = await JS.InvokeAsync<bool>("installer.installedOrUnsupported");
        StateHasChanged();
        await base.OnInitializedAsync();
    }

    public async Task InstallApp()
    {
        await JS.InvokeVoidAsync("installer.installPrompt");
    }
}
